<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse " style="background-color: #1A2226; margin: 0px; padding:0px;" th:fragment="nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="all_admin_index">IT社区</a>
        </div>

        <div class="navbar-right">
            <div class="dropdown " style="padding-top: 12px;">
                <a class="dropdown-toggle navbar-link" data-toggle="dropdown"
                   style="padding-top: 5px; font-size: 18px;">您好!&nbsp;</a>
                <ul class="dropdown-menu">
                    <li><a href="">个人资料</a></li>
                    <li class="leave"><a href="../userController/login">切换账户</a></li>
                    <li class="leave"><a href="../userController/login">退出登录</a></li>
                </ul>
            </div>
        </div>

        <form action="../postController/postsearch" method="post" class="navbar-form navbar-right visible-lg"
              role="search">
            <div class="form-group">
                <input type="text" class="form-control" name="question" placeholder="Search"></input>
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>

    </div>
</nav>

</body>
</html>