<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" th:class="${admin=='user'}?'container':''" th:style="${admin=='user'}?'':'padding:20px'" th:fragment="enterPrise">
    <div class="row" style="margin-bottom: 10px;margin-top: 10px" th:if="${admin=='user'}">
        <form th:action="@{/synQuery/enterPriseList}" th:method="post">
            <div class="col-xs-7"></div>
            <div class="col-xs-3 right" style="margin-left: 0;padding-right: 0">
                <input class="form-control" name="search"></input>
            </div>
            <div class="col-xs-2" style="padding-left: 0px">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>企业编号</th>
            <th>企业名称</th>
            <th>法定代表人</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="enterPriseInfo:${enterPriseInfos}">
            <td th:text="${enterPriseInfo.epId}">1</td>
            <!--            <td ><a th:text="${backLog.workName}"  target="_blank" th:href="@{/work/WorkDetail(workId=${backLog.workId},userId=${userId})}">1</a></td>-->
            <td th:text="${enterPriseInfo.epName}">1</td>
            <td th:text="${enterPriseInfo.epLegalName}">1</td>
            <td><a th:if="${admin=='admin'}" style="margin-right: 20px;" class="btn btn-danger btn-xs">删除</a><a href="#" class="btn btn-primary btn-xs" th:href="@{/synQuery/enterPrisePost(epId=${enterPriseInfo.epId},userId=${userId})}">详情</a></td>
        </tr>

        </tbody>
    </table>
    <div class="text-center"  th:if="${admin=='user'}">
        <ul class="pagination">
            <li><a class="btn btn-default" href="" th:href="@{/synQuery/enterPriseList(getnowpage=0)}" >首页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/synQuery/enterPriseList(getnowpage=${pageInfo.nowpage}-1)}">上一页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/synQuery/enterPriseList(getnowpage=${pageInfo.nowpage}+1)}">下一页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/synQuery/enterPriseList(getnowpage=${pageInfo.allpage})}">页尾</a></li>
        </ul>
    </div>
    <div class="text-center"  th:if="${admin=='admin'}">
        <ul class="pagination">
            <li><a class="btn btn-default" href="" th:href="@{/admin/index/enterPriseList(getnowpage=0)}" >首页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/admin/index/enterPriseList(getnowpage=${pageInfo.nowpage}-1)}">上一页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/admin/index/enterPriseList(getnowpage=${pageInfo.nowpage}+1)}">下一页</a></li>
            <li><a class="btn btn-default" href="" th:href="@{/admin/index/enterPriseList(getnowpage=${pageInfo.allpage})}">页尾</a></li>
        </ul>
    </div>
</div>
</body>
</html>