<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>巡查记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
        function callAndroid(routeId){
            // 由于对象映射，所以调用question对象等于调用Android映射的对象
            //question ： 约定好的一个name（只要一致即ok）
            //over ： 约定好的方法名（只要一致即ok）
            alert(routeId);
            activity.over(routeId);
        }
    </script>
</head>
<body>
    <div class="container" th:class="${admin==null}?'container':''"  >
        <div class="row" style="margin-bottom: 10px;margin-top: 10px" th:if="${admin==null}">
            <form th:action="@{/mobileLaw/patrolRecord}" th:method="post">
                <div class="col-xs-7"></div>
                <div class="col-xs-3 right" style="margin-left: 0;padding-right: 0">
                    <input class="form-control" name="search"></input>
                </div>
                <div class="col-xs-2" style="padding-left: 0px">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </form>
        </div>
        <div th:fragment="patrolRecord" th:style="${admin==null}?'':'padding:20px'">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>巡查编号</th>
                <th>巡查人员</th>
                <th>巡查时间</th>
                <th th:if="${admin!=null}">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="routeInfo:${routeInfos}">
                <td ><a th:text="${routeInfo.routeId}"  th:onclick="|callAndroid('x'+${routeInfo.routeId})|"></a> </td>
                <td th:text="${routeInfo.userNameCN}"></td>
<!--                <td th:text="${routeInfo.addTime}">1</td>-->
                <td th:text="${routeInfo.addTime!=null?#strings.substring(routeInfo.addTime,0,10):routeInfo.addTime}">1</td>
                <td th:if="${admin!=null}"><button  th:onclick="|del(${routeInfo.routeId})|" class="btn btn-danger btn-xs" style="margin-right: 20px;">删除</button></td>
            </tr>

            </tbody>
        </table>

        <div class="text-center" th:if="${admin==null}">
            <ul class="pagination">
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/mobileLaw/patrolRecord(getnowpage=0)}" >首页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/mobileLaw/patrolRecord(getnowpage=${pageInfo.nowpage}-1)}">上一页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/mobileLaw/patrolRecord(getnowpage=${pageInfo.nowpage}+1)}">下一页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/mobileLaw/patrolRecord(getnowpage=${pageInfo.allpage})}">页尾</a></li>
            </ul>
        </div>
        <div class="text-center" th:if="${admin!=null}">
            <ul class="pagination">
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/admin/index/patrolRecord(getnowpage=0)}" >首页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/admin/index/patrolRecord(getnowpage=${pageInfo.nowpage}-1)}">上一页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/admin/index/patrolRecord(getnowpage=${pageInfo.nowpage}+1)}">下一页</a></li>
                <li><a class="btn btn-default" href="../adminController/menulists?" th:href="@{/admin/index/patrolRecord(getnowpage=${pageInfo.allpage})}">页尾</a></li>
            </ul>
        </div>
        </div>
    </div>

</body>
</html>