<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
    .postTitle{
        background: white;
        width: 300px;
        height: 30px;
        font-size: x-small ;
        padding-left: 10px;
        padding-top: 10px;
        margin:0 auto
    }
    .postImage img{
        width: 300px;height: 130px;
    }
    </style>
</head>
<body style="background-color: #ECECEC">
<div class="container">
    <div id="content" class="text-center">

        <div id="postdisplay" >


            <div   style="width: 100%;height: 170px;margin-top: 15px" th:each="postInformation:${postInformations}">
                <div class="postShow" >
                    <input type="hidden" th:value="${postInformation.postid}"></input>
                    <div th:if="${postInformation.postImage1==null}">
                        <img src="../images/system_notice.jpg" style="width: 300px;height: 120px;"></img>
                    </div>
                    <div class="postImage" th:if="${postInformation.postid!=null}" th:utext="${postInformation.postImage1}"> </div>
                    <div class="postTitle text-left" th:text="${postInformation.posttitle}"></div>
                </div>
            </div>

            <div id="displaymore" ><a id="displaymorea">加载更多</a></div>
            <input type="hidden" id="startpage" value="0"/>
            <input type="hidden" id="endpage" value="5"/>
        </div>

    </div>
</div>
</body>
<script>
    $('.postShow').click(function (){
        window.location.href='/market/admin/postShow?postid='+$(this).children("input").val();
    });
</script>
<script>
    $("#displaymorea").click(function () {
        var startpage = $("#startpage").val();
        $("#startpage").val(parseInt(startpage) + 5);

        function setDivtc(item) {
            // alert("竟来了");
            if(item.postImage1==null) {
                var div = '<div   style="width: 100%;height: 170px;margin-top: 15px">\n' +
                    '                <div onclick="">\n' +
                    '                        <img src="../images/system_notice.jpg" style="width: 300px;height: 120px;"></img>\n' +
                    '                    <div class="postTitle text-left" >'+ item.posttitle+'</div>\n' +
                    '                </div>\n' +
                    '            </div>'
            }else{
                var div = '<div   style="width: 100%;height: 170px;margin-top: 15px" >\n' +
                    '                <div onclick="">\n' +
                    '                    <div class="postImage"  > '+ item.postImage1+'</div>\n' +
                    '                    <div class="postTitle text-left" >'+ item.posttitle+'</div>\n' +
                    '                </div>\n' +
                    '            </div>'
            }
            return div;
        }

        $.ajax({
            type: "post",
            url: "/market/admin/postShowListMore",
            data: {"startpage": parseInt(startpage) + 5, "endpage": 5},
            dataType: "json",
            async: false,
            success: function (postInformations) {
                var html = '';
                // alert(JSON.stringify(postInformations));
                for (var list in postInformations) {
                    html += setDivtc(postInformations[list]);
                }
                // alert(html);
                $("#displaymore").before(html);

            },
            error: function () {
                alert("错误");
            }
        });
    });


</script>
</html>