<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>工作详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
        .control-label{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1 style="text-align: center;margin-bottom: 15px">任务详情</h1>
            <h3 style="color: red;text-align: center;margin-bottom: 10px" th:value="${saveStatus}">
            </h3>
        </div>
        <form class="form-horizontal" action="/market/work/saveTask" method="post" role="form">
            <div class="form-group">
                <label for="workId" class="col-xs-3 control-label">任务号</label>
                <div class="col-xs-9">
                    <input type="input" class="form-control disabled" id="workId" name="workId" th:value="${workDetail.workId}" readonly="readonly"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="workName" class="col-xs-3 control-label">任务名称</label>
                <div class="col-xs-9">
                    <input type="input" class="form-control" name="workName" id="workName" th:value="${workDetail.workName}"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="addWho" class="col-xs-3 control-label">发布人员</label>
                <div class="col-xs-9">
                    <input type="input" class="form-control" id="addWho" disabled="disabled" th:value="${workDetail.addWhoName}" ></input>
                </div>
            </div>
            <div class="form-group">
                <label for="workWho" class="col-xs-3 control-label">主要负责人</label>
                <div class="col-xs-9">
                    <select class="form-control" name="workWho" id="workWho" >
                        <option th:each="selUserInfo:${userInfos}"   th:value="${selUserInfo.userId}" th:text="${selUserInfo.userNameCN}">1</option>
                    </select>
<!--                    <input type="input" class="form-control" id="workWho" name="workWho" th:text="${workDetails?.workWhoName}"></input>-->
                </div>
            </div>
            <div class="form-group">
                <label for="workEndTime" class="col-xs-3 control-label">任务结束时间</label>
                <div class="col-xs-9">
                    <input type="input" class="form-control" id="workEndTime" name="workEndTime" th:value="${workDetail.workEndTime}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="workStatus" class="control-label col-xs-3">执行状态</label>
                <div class="col-xs-9">
                    <select class="form-control" name="workStatus" id="workStatus" >
                        <option th:each="workStatus:${workStatuses}"  th:selected="${workStatus.statusId==workDetail.workStatus}" th:value="${workStatus.statusId}" th:text="${workStatus.workStatus}">1</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="userId" th:value="${userId}"/>
            <div class="form-group">
                <label for="workDetails" class="col-xs-3 control-label">任务详情</label>
                <div class="col-xs-9">
                    <textarea  class="form-control" rows="5" id="workDetails" name="workDetails" th:utext="${workDetail.workDetails}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="solveDetails" class="col-xs-3 control-label" >解决办法</label>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="5" id="solveDetails" name="solveDetails" th:utext="${workDetail.solveDetails}"/>
                </div>
            </div>
            <div style="text-align: center">
                <button type="submit" class=" btn btn-default">保存</button>
                <button type="button" class=" btn btn-default"> 返回</button>
            </div>

        </form>
    </div>
</body>
</html>